{% extends 'layout.html' %}


{% set current_user = get_current_user() %}

{% block content %}
    <div class='view' id='app-view'>
        <input type='hidden' name='user-id' id='user-id'>
        <section class='first-section vista'>
            <div class='avatar-part'>
                <img
                class='avatar'
                src='{{ url_for("static", filename="image/DefaultUserPicture.png") }}'
                alt> 
            </div>
            <div class='info-part'>
                <h3 id='firstname'>{{ current_user.first_name }} {{ current_user.last_name }}</h3>
                <p>{{ current_user.bio }}</p>
            </div>
        </section>
        <section class='misc-menu vista'>
            <ul class='left'>
                <li><span><img src='{{ url_for("static", filename="image/email.gif") }}' alt></span></li>
                <li><span><img src='{{ url_for("static", filename="image/ppl.png") }}' alt></span></li>
                <li><span><img src='{{ url_for("static", filename="image/kdict.png") }}' alt></span></li>
                <li><span><img src='{{ url_for("static", filename="image/msn_phone.png") }}' alt></span></li>
            </ul>
            <ul class='right'>
                <li><span><img src='{{ url_for("static", filename="image/brush.png") }}' alt></span></li>
                <li><span><img src='{{ url_for("static", filename="image/settings.png") }}' alt></span></li>
            </ul>
        </section>
        <section class='search-bar'>
            <div class='part search-part'><input type='text' placeholder='Find a contact...'></div>
            <div class='part buttons-part'>
                <ul>
                    <li><span><img src='{{ url_for("static", filename="image/add.jpg") }}' alt></span></li>
                    <li><span><img src='{{ url_for("static", filename="image/refresh.jpg") }}' alt></span></li>
                </ul>
            </div>
        </section>
        <section class='contact-list' id='contact-list'>
            {% for user in users %}
                <div class='item'>
                    <img class='contact-icon' src="{{ url_for('static', filename='image/msn_icon.png') }}">
                    <span>
                        {{ user.first_name }} {{ user.last_name }}
                    </span>
                </div>
            {% endfor %}
        </section>
    </div>
{% endblock %}
