{% extends 'layout.html' %}


{% block content %}
    <div class='view' id='chat-view'>
        <input type='hidden' name='user-id' id='user-id'>
        <section class='first-section'>
            <div class='avatar-part'>
                <img class='avatar' src='/static/image/DefaultUserPicture.png' alt> 
            </div>
            <div class='info-part'>
                <h3 id='firstname'>{{ chat_user.first_name }} {{ chat_user.last_name }}</h3>
            </div>
        </section>
        <section class='chat-text'>
            <article class='chat-msg' id='chat-text'>
                <h4>Sebastian Karlsson says:</h4>
                <ul>
                    <li>Yeah, I think so</li>
                </ul>
            </article>
        </section>
        <div class='bottom-action-area'>
            <textarea id='send-body' class='chat-input-part'></textarea>
            <input id='send' type='submit' name='send' value='Send'>
        </div>
        <script>



var version = 'asdfasdf';

var send_btn = document.getElementById('send');

send_btn.addEventListener('click', function() {
    var http = new XMLHttpRequest();
    var url = "/api/conversation/{{ conversation._id }}/send";
    var body = document.getElementById('send-body').value;
    var params = "body="+body;
    http.open("POST", url, true);

    //Send the proper header information along with the request
    http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

    http.onreadystatechange = function() {//Call a function when the state changes.
        if(http.readyState == 4 && http.status == 200) {
        }
    }
    http.send(params);
});


function update_messages() {
    
    var xhr = new XMLHttpRequest();
xhr.open('GET', '/api/conversation/{{ conversation._id }}/version', false);
xhr.send(null);
var checked_version = JSON.parse(xhr.responseText).version;


if (checked_version != version) {


var xhr = new XMLHttpRequest();

    xhr.onreadystatechange = function() {
        if (xhr.readyState == XMLHttpRequest.DONE) {
            document.getElementById('chat-text').addEventListener('onscroll', function() { });
            document.getElementById('chat-text').innerHTML = xhr.responseText;
            var objDiv = document.getElementById("chat-text");
objDiv.scrollTop = objDiv.scrollHeight;
    }
}
xhr.open('GET', '/api/conversation/{{ conversation._id }}', true);
xhr.send(null);

var objDiv = document.getElementById("chat-text");
objDiv.scrollTop = objDiv.scrollHeight;


version = checked_version;
}
}

setInterval(function() {
    update_messages();
}, 60);
        </script>
    </div>
{% endblock %}
