{% extends 'layout.html' %}

{% block head %}
    {{ super() }}
    
    <script
    type='text/javascript'
    src='{{ url_for("static", filename="js/conversation.js") }}'></script>
{% endblock %}


{% block content %}
    <div class='view' id='chat-view'>
        <input type='hidden' name='user-id' id='user-id'>
        <section class='first-section'>
            <div class='avatar-part'>
                <img class='avatar' src='/static/image/DefaultUserPicture.png' alt> 
            </div>
            <div class='info-part'>
                <h3 id='firstname'>{{ chat_user.first_name }} {{ chat_user.last_name }}</h3>
                <p>{{ chat_user.bio }}</p>
            </div>
        </section>
        <div class='chat-text' id='chat-text'>
        </div>
        <div class='bottom-action-area'>
            <textarea id='send-body' class='chat-input-part'></textarea>
            <input id='send' type='submit' name='send' value='Send'>
        </div>
    </div>
    <script>        

        document.getElementById('send').addEventListener('click', function () {
            var body_dom = document.getElementById('send-body');
            send_message("{{ conversation._id }}", body_dom.value);
            body_dom.value = '';
        });
        
        setInterval(function(){
            update_messages("{{ conversation._id }}", document.getElementById('chat-text'));
        }, 60);
    </script>
{% endblock %}
