{% extends 'layout.html' %}

{% from '_formhelpers.html' import render_field %}


{% block content %}
    <div class='login-view view'>
        <section class='centered-content first-section'>
            <img
            class='avatar'
            src='{{ url_for("static", filename="image/DefaultUserPicture.png") }}'
            alt> 
        </section>
        <section>
            <form method='post' class='centered-content'>
                <section class='centered-content'>
                    {{ render_field(form.email, placeholder='john.doe@doecompany.com') }}
                    {{ render_field(form.password, placeholder='*******') }}
                </section>
                <section>
                    {{ render_field(form.remember_me) }}
                    {{ render_field(form.remember_my_password) }}
                    {{ render_field(form.sign_me_in_automatically) }}
                </section>
                <section class='centered-content'>
                    {{ render_field(form.submit) }}
                </section>
                <section>
                    <label><a href='/register'>Sign up</a></label>
                </section>
                {% if msg %}
                    <section>
                        <label><p id='login-response'>{{ msg }}</p></label>
                    </section>
                {% endif %}
            </form>
        </section>
    </div>
{% endblock %}
