{% extends 'layout.html' %}

{% from '_formhelpers.html' import render_field %}


{% block content %}
    <div class='login-view view'>
        <section>
            <form method='post' class='centered-content'>
                <section class='centered-content'>
                    <!--<label for='email'>First-name:</label>
                    <input type='email' id='register-firstname' placeholder='John'>-->
                    {{ render_field(form.email, placeholder='john.doe@doecompany.com') }}
                    {{ render_field(form.first_name, placeholder='John') }}
                    {{ render_field(form.last_name, placeholder='Doe') }}
                    {{ render_field(form.password, placeholder='********') }}
                    {{ render_field(form.password_confirm, placeholder='********') }}
                </section>
                <section class='centered-content'>
                    {{ render_field(form.submit) }}
                </section>
                {% if msg %}
                    <section>
                        <label><p id='register-response'>{{ msg }}</p></label>
                    </section>
                {% endif %}
                <section>
                    <label><a href='/'>Login</a></label>
                </section>
            </form>
        </section>
    </div>
{% endblock %}
